* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: 'Josefin Sans', sans-serif;
}


.container {
    font-size: 60px;
    color: white;
    position: absolute;
    height: 480px;
    width: 650px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.about_me {
    z-index: 1;
    writing-mode: vertical-rl;
    text-orientation: upright;
    position: relative;
    left: 50%;
    /* top: 50%; */
    transform: translate(-50%, 0);
    /* word-spacing: -15px; */
    animation-name: about;
    animation-duration: 4s;
}

@keyframes about {
    0%   {top:-800px;}
    100%  {top:0px;}
    }

.space {
    color: transparent;
}


.projects {
    transform: translate(0, -100%);
    letter-spacing: 5px;
    height: 60px;
    width: 0;
}


#my_proj {
    transform: translate(1.5%, 0);
    width: 304px;
} 

#cts {
    transform: translate(293%, -100%);
    width: 120px;
}

.contacts {
    letter-spacing: 5px;
    transform: translate(0, -700%);
    height: 60px;
    width: 0;
}


#c {
    transform: translate(636%, 0);
    width: 40px;
}

#ntact {
    transform: translate(161%, -100%);
    width: 220px;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/* contact */

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -16px 0 0 0;
}

.contact-form {
    /* margin: 50% 0 0 0; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.data {
    display: flex;
    justify-content: space-between;
}

.contact-form input {
    width: calc(50% - 28px);
    font-family: 'Josefin Sans', sans-serif;
    border: solid 3px rgb(153, 50, 204);
    font-size: 20px;
    padding: 16px 10px 10px 10px;
    background: transparent;
    color: rgb(255, 255, 255);
}

.contact-form textarea {
    width: calc(100% - 26px);
    font-family: 'Josefin Sans', sans-serif;
    border: solid 3px rgb(153, 50, 204);
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin: 4px 0 0 0;
    resize: none;
    padding: 10px;
    background: transparent;
}

.contact-form textarea:focus,
.contact-form input:focus {
    background: rgba(153, 50, 204, 0.2);
    outline: none;
    color: rgb(255, 255, 255);
}

.contact-form button {
    width: 100%;
    border: solid 3px rgb(153, 50, 204);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    padding: 15px 0 11px 0;
    margin: 15px 0 0 0;
    /* color: rgb(153, 50, 204); */
    color: rgb(255, 255, 255);
    background-color: transparent;
    box-shadow: 0 0 30px rgb(153, 50, 204), inset 0 0 20px rgb(153, 50, 204);
    text-shadow: 0 0 10px rgb(153, 50, 204);
    position: relative;
}

.contact-form button:hover {
    background: rgba(153, 50, 204, 0.25);
    color: rgb(255, 255, 255);
    box-shadow: 0 0 40px rgb(153, 50, 204), inset 0 0 30px rgb(153, 50, 204);
}

.contact-form button:focus {
    background: black;
    /* color: rgb(153, 50, 204); */
    outline: none;;
}

.contact-form button::before {
    content: '';
    position: absolute;
    background: rgb(153, 50, 204);
    top: 160%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: perspective(4px) rotateX(2deg) scale(1, 0.7);
    filter: blur(25px);
    opacity: 0.7;
    /* box-shadow: 0 0 25px rgb(153, 50, 204), inset 0 0 15px rgb(153, 50, 204); */

}

.contact-form button:hover::before {
    opacity: 0.8;
    transform: perspective(3.9px) rotateX(3deg) scale(1, 0.7);
}


/* abot me */

.about-container {
    /* width: 60%; */
    display: flex;
    /* justify-content: space-between; */
    /* margin: 200px 0 0 0; */
}

.photo {
    margin: 0 0 0 30px;
    height: 300px;
}

.photo img {
    height: 100%;
    border-radius: 50%;
    border: rgb(255, 255, 255) 0 solid;
    box-shadow: 0 0 60px rgba(67, 214, 44, 0.7);
}

.introduction {
    margin: 0 30px 0 30px;
    max-width: 38ch;
    /* min-width: 350px; */
    color: rgb(255, 255, 255);
    font-size: 28px;
    display: flex;
    align-items: center;
    text-shadow: 0 0 10px rgba(67, 214, 44, 0.8);
}

.arrow {
    color: rgb(255, 255, 255);
    font-size: 80px;
    position: absolute;
    left: 50px;
    top: 50px;
    transform: rotateY(3.142rad);
}

#arrow-about {
    /* color: rgba(67, 214, 44); */
    text-shadow: 0 0 10px rgba(67, 214, 44);
}

#arrow-contact {
    /* color: rgb(153, 50, 204); */
    text-shadow: 0 0 30px rgb(153, 50, 204);
}


@media only screen and (max-width: 650px) {

    /* main */
    .container {
        font-size: 28px;
        top: 60%;
        width: 340px;
        margin: 0 0 0 40px;
    }

    .projects {
        transform: translate(0, -200%);
        height: 28px;
    }

    #my_proj {
        transform: translate(2%, 100%);
        width: 160px;
    } 
    
    #cts {
        transform: translate(282%, 0);
        width: 65px;
    }

    .contacts {
        transform: translate(0, -700%);
        height: 28px;
    }

    #c {
        transform: translate(678%, 0);
        width: 20px;
    }
    
    #ntact {
        transform: translate(166%, -100%);
        width: 112px;
    }

    /* contact */

    .contact-form {
        width: 70%;
    }

    /* about */

    .about-container {
        max-width: 250px;
        flex-direction: column;
        align-items: center;
    }

    .photo {
        height: 250px;
        margin: 0;
    }

    .introduction {
        font-size: 24px;
        margin: 30px 0 0 0;
        /* max-width: none;
        min-width: none; */
    }

    section {
        height: auto;
        margin: 80px 0 0 0;
    }

    .arrow {
        font-size: 60px;
        left: 20px;
        top: 20px;
    }

}